a {
	text-decoration: none;
}

#top_wrapper {
	color: white;
	background-color: #713a92;
}

#date_select {
	margin-bottom: 10px;

	font-size: 18px;
}

#date_select ul li {
	text-align: center;
	margin-top: 5px;

	color: white;
}

#main_section {
	padding-top: 25px;
}

#tHead {
	padding: 5px;
}

#about {
	padding-bottom: 15px;
}

table, th, td {
	border: 4px solid #713a92;
	border-collapse: collapse;
	color: #302828;
	background: linear-gradient(135deg, rgba(255,255,255,0.5) -90%,
	rgba(255,255,255,0.33) -100%,rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);
	text-align: left;
}

table {
	width: 750px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	padding-left: 2em;
	padding-right: 2em;

	background-color: #f8f8f8;
	font-size: 24px;
}

about {
    background: #eaeaea; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#eaeaea, #fffbff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#eaeaea, #fffbff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#eaeaea, #fffbff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#eaeaea, #fffbff);/* Standard */
}

th {
	padding: 5px 10px 5px;

	color: white;
	background-color: #a77acc;
	font-weight: bold;
}

td {
	padding: 5px 10px 5px;
}